@{var check = Context.Session.GetString("i");}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
   <meta
    name="description"
          content="Access the heart of my digital portfolio management, where creativity meets organization."/>
    <meta name="viewport" content="width=device-width" />
    <title>-Admin Panel</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">

</head>
<body>


    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="~/assets/images/logo.svg" alt="" srcset="">
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class='sidebar-title'>Pages</li>

                        <li class="sidebar-item  ">

                            <a asp-controller="Home" asp-action="Dashboard" title="Dashboard" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Dashboard</span>
                            </a>


                        </li>



                        <li class="sidebar-item  ">

                            <a asp-controller="Projects" asp-action="Index" title="Projects" class='sidebar-link'>
                                <i data-feather="layers" width="20"></i>
                                <span>Projects</span>
                            </a>


                        </li>



                        <li class="sidebar-item  ">

                            <a asp-controller="Contacts" asp-action="Index" title="Contacts" class='sidebar-link'>
                                <i data-feather="grid" width="20"></i>
                                <span>Quries</span>
                            </a>


                        </li>

                        @if(check=="afnan@gmail.com"){

                        <li class="sidebar-item  ">

                                <a asp-controller="LoginRegisters" asp-action="Index" title="Admins" class='sidebar-link'>
                                <i data-feather="file-plus" width="20"></i>
                                <span>Admins</span>
                            </a>


                        </li>
                        }





                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown nav-icon">
                            <a asp-controller="Home" asp-action="Index" title="Website View" class="nav-link   nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="settings"></i>
                                </div>
                            </a>
                           
                        </li>
                        <li class="dropdown nav-icon me-2">
                            <a asp-controller="LoginRegisters" asp-action="LogOut" title="LogOut" class="nav-link  nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="log-out"></i>
                                </div>
                            </a>
                           
                        </li>
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" title="Greetings & Email" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="~/assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, @check</div>
                            </a>
                            
                        </li>
                        
                        @if (check == "afnan@gmail.com")
                        {
                            <li class="dropdown">
                                <a asp-action="Create" title="Register" asp-controller="LoginRegisters" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                   
                                    <div class="d-none d-md-block d-lg-inline-block">Register a new Sub-Admin</div>
                                </a>

                            </li>
                        }
                    </ul>
                </div>
            </nav>






            <div>
                @RenderBody()
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Muhammad Afnan</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <b>Muhammad Afnan</b> </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/dashboard.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

