@model Portfolio.Models.Projects

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Projects</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" title="Enter Your Project's Name" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDescription" class="control-label"></label>
                <input asp-for="ProjectDescription" title="Enter Your Project's Description" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Image" class="control-label"></label>
                <input name="image" asp-for="Image" class="form-control"  />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectLink" class="control-label"></label>
                <input asp-for="ProjectLink" title="Enter Your Project's Link" class="form-control" />
                <span asp-validation-for="ProjectLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" title="Save" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" title="Back">Back to List</a>
</div>

